<h1>Weather#forecast</h1>
<p>Find me in app/views/weather/forecast.html.erb</p>


<%#= @results %>

<% @results['list'].each do |a| %>

	<li>
		<%= link_to Time.at(a['dt']).to_datetime, searches_detail_path %>
		<%= a['temp']['day'] %>searches_detail_path %>
			
	</li>


<% end %>
