<h1>Weather#forecast</h1>
<p>Find me in app/views/weather/forecast.html.erb</p>


<%#= @results %>

<% @results['list'].each do |a| %>

	<li>
		<%=Time.at(a['dt']).to_datetime %><%= a['temp']['day'] %>
	</li>

<% end %>
