

<div class='container' id='searchPage'>

	<div class='row'>

		<div class='col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2'>

			<h2 class='color1 title'>Instant Long Term Weather Forecasts</h2><hr class='highlight'>

					<%= form_for :data, url: {action: 'forecast'} do |f| %>

				<div id='searchBar'>
					<%= f.text_field :city, placeholder: 'Name a City', class: 'form-control' %><br>
				</div>

					<div class='centered'>
						<%= f.submit 'Check the Weather', :class => 'btn btn-default', :id => 'searchBtn'%>
					</div>

				<% end %>

		
			<%= render "shared/footer" %>


		<!-- div for GRID SYSTEM -->
		</div>

	<!-- div for ROW class -->

</div>

<!-- div for CONTAINER -->
</div>

