<h1>Weather#index</h1>
<p>Find me in app/views/weather/index.html.erb</p>


	<%= form_for :data, url: {action: 'forecast'} do |f| %>

		<%= f.text_field :city, placeholder: 'For which City would you like to see the weather forecast for?', class: 'form-control' %><br>

		<%= f.submit 'Search Now', :class => 'btn btn-default'%>


	<% end %>

