// Place all the styles related to the weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/********** COLOR SCHEME **************/

body {
	background-color: rgb(255,182,124);
	color: rgb(255,182,124);
}

.color1 {
	color: #007EA7;
	font: #007EA7;
}

.color2 {
	color: rgb(110,141,160);
}

.color3 {
	color: #0F0A1E;
	font: #0F0A1E;
}

.highlight {
	border: 1px solid; 
	color: rgb(244,159,82);
}

/*********  FONT STYLING  **********/

.subFont {
	font-style: italic;
}

.title {
	text-align: center;
}

.panel-heading {
	background-color: rgb(110,141,160);
}

div.panel.panel-default {
	background-color: rgb(241,245,247);
	font: white;
}


/************   SEARCH PAGE    **************/

#firstRadio {
	margin: 0 5px 0 0;
	/* spacing around radion button, and its placeholder text */
}

#secondRadio {
	margin: 0 5px 0 15px;
	/* spacing around radion button, and its placeholder text */
}


#searchBtn {
	font: gray;
	text-align: center;
}

.centered {
	text-align: center;
}

#searchBtn:hover {
	background-color: rgb(244,159,82);
	color: white;
}

#searchBar {
	padding-top: 15%;
	text-align: center;
}

.navbar {
	background-color: rgba(192,192,192,1.0);
	color: rgba(0,0,0,0.6);
	text-align: center;
}

.navbar p {
	padding-top: 12px;
}

